/*style pada halaman login*/
body {background-color:rgb(236, 225, 212);
    background-image: url("../Picture/Logo\ Terminal\ Coffee\ copy.png");
    background-repeat: no-repeat;
    background-position: 50% 3%;
    background-size: 18%;}
h1 {color:coral;}

/*style box*/
input[type=text]{
    width : 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input[type=text]:focus {
    background-color: lightblue;
}  
