<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto&display=swap" rel="stylesheet">
    <title>Terminal Coffee</title>
    <style>
            body{
            background: url(backgr1.jpg);
            background-repeat: no-repeat !important;
            height:100%;
            background-size: cover;
            }
            
    </style>
</head>

<body>
    <section class="container" style="display: flex; align-items:center; min-height:40rem;">
        <div class="row">
            <div class="col-sm-6">
                <img src="../Picture/Logo Terminal Coffee copy.png" style="width: 250px; height: 250px; display: block; margin: 0 auto;">
            </div>
            <div class="col-sm-6">
                <h1 class="mt-5"; style="font-family: 'Playfair Display', serif; color:whitesmoke">Terminal Coffee</h1>
                <p style="text-align:justify; font-family: 'Roboto', sans-serif; font-weight:300;color:whitesmoke ">Terminal Coffee didirikan pada Februari 2011. Kafe ini memiliki beberapa gerai salah satunya di Jalan Hasanudin No. 3, Lebak Gede, Coblong, Bandung. Konsep Terminal Coffee adalah minimalis, ditandai dengan jumlah unit meja yang tidak terlalu banyak sehingga ruangan di cafe tersebut cukup renggang.</p>
            </div>
        </div>
    </section>

<nav class="navbar navbar-expand-sm navbar-dark fixed-bottom" style="background-color:transparent">
  <a class="navbar-brand" href="/login">Login</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>  
    </ul>
  </div>  
</nav>

</body>