<!DOCTYPE html>
<html>
	<head>

        <!--Memuat StyleOrderDone-->
        <link rel="stylesheet" href="StyleOrderDone.css">
        <!--Memuat font-->
        <link href='https://fonts.google.com/specimen/Libre+Caslon+Text' rel='stylesheet'>
        <link href='https://fonts.google.com/specimen/Roboto' rel='stylesheet'>
        <!--Ikon pada Title-->
        <link rel="icon" type="image/png" href="../Picture/Logo Terminal Coffee copy.png">
        <title>
            Terminal Coffee
        </title>

    </head>

    <body>
    	
    	<img src="../Picture/Logo Terminal Coffee copy.png" style="width: 250px; height: 250px; position: relative; left: 43.5%">

    	<div class="button">
            <button class="letak"; style="font-family: Libre Caslon Text; font-size: 20px; width: 150px; height: 40px">Back to Menu</button>
        </div>

        <div class="heading">
        	<h1>Terima kasih telah memesan!</h1>
        	<div class="teks">
        		<p>Pesanan anda akan tiba dalam beberapa menit..</p>
        	</div>

        </div>

    </body>
</html>