/*style pada halaman login*/
body {background-color:rgb(236, 225, 212);
    background-image: url("./Picture/3.png");
    background-repeat: no-repeat;
    background-position: 50% 3%;
    background-size: 100%;
}
h1 {color:coral;}

/*style box*/
input[type=text]{
    width : 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input[type=text]:focus {
    background-color: rgb(238, 216, 200);
}  

input[type=password]{
    width : 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input[type=password]:focus {
    background-color: rgb(238, 216, 200);
}  

.loginBox{
    position: fixed;
    top: 35%;
    left: 29%;
}

.button{
    position: fixed;
    bottom: 34%;
    left: 46%;
}
.regisBox{
    position: fixed;
    top: 35%;
    left: 29%;
}
.buttonRegis{
    position: fixed;
    bottom: 22%;
    left: 46%;
}

.menu{
    position: relative;
    border: 10px black;
    padding: 20px;
    margin: 30px;
}