<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tambah Menu - Terminal Coffee</title>
</head>
<body>
    <h1>Tambah Menu!</h1>
    <hr>
    <form action="/tambahMenu" method="post">
        <label>Nama Menu</label>
        <input type="text" name="name">
        <br>
        <label>Deskripsi Menu</label>
        <input type="text" name="description">
        <br>
        <label>Harga</label>
        <input type="text" name="price">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>