<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pesanan Terkonfirmasi - Terminal Coffee</title>
</head>
<body>
    <h1>Pesanan Selesai!</h1>
    <h2>Silahkan menunggu pesanan anda!</h2>

    <a href="/">Kembali ke menu awal</a>
</body>
</html>